.auth-container {
  min-height: 60vh;
}
.auth-form {
  background-color: var(--white);
  width: 40%;
  min-height: 30vh;
  margin: 10vh auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(94, 100, 114, 0.72);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(94, 100, 114, 0.4);
  border-radius: 10px;
}
.auth-form h1{
    font-size: 36px;
    color: white;
}
.auth-form p{
    font-size: 28px;
    color: white;
}
.auth-form p span{
    font-size: 28px;
    color: var(--primary-color);
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.form-group input {
  padding: 8px 16px;
  border-radius: 8px;
  border: solid 1px grey;
  margin-top: 20px;
  font-size: 20px;
}
.auth-form button {
  background-color: var(--secondary-color);
  font-size: 20px;
  color: white;
  color: var(--white);
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px 0;
}
.form-link {
  cursor: pointer;
  font-style: italic;
}
