.header-container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
  background: rgba(94, 100, 114, 0.72);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(94, 100, 114, 0.4);
}

.categories-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home-btn {
  font-size: 38px;
}
.nav-link,
.auth-link {
  text-decoration: none;
  margin-left: 10px;
  color: white;
}
.auth-link {
  background: rgba(94, 100, 114, 0.72);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(94, 100, 114, 0.4);
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: var(--white);
}

.username {
  color: blue;
  margin-right: 10px;
}
