.add-article-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  min-height: fit-content;
}

.add-article-form {
  width: 80%;
  margin: 5vh auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(94, 100, 114, 0.72);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(94, 100, 114, 0.4);
  border-radius: 10px;
}
.add-article-form {
  font-size: 28px;
  color: white;
}
.input-group {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 20px;
}

.input-group label {
  font-size: 20px;
  font-weight: 500;
}
.input-group input,
.input-group textarea,
.input-group select {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: solid 1px grey;
  font-size: 20px;
  color: gray;
}

.input-group textarea {
  min-height: 150px;
  resize: vertical;
  font-size: 20px;
}

.input-group input::file-selector-button {
  border: solid 1px grey;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
}
.img-input {
  background-color: white;
  color: gray;
}

.add-article-form button {
  background-color: var(--secondary-color);
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  width: 40%;
  height: 50px;
  cursor: pointer;
  font-size: 28px;
  font-weight: 700;
}
