* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
html {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 87%,
    rgba(255, 166, 158, 1) 89%,
    rgba(250, 243, 221, 1) 90%,
    rgba(184, 242, 230, 1) 91%,
    rgba(174, 217, 224, 1) 92%,
    rgba(255, 255, 255, 1) 94%
  );
}

:root {
  --primary-color: #ffa69e;
  --background-color: #faf3dd;
  --accent-color: #b8f2e6;
  --secondary-color: #aed9e0;
  --dark-background-color: #5e6472;
  --white: #ffffff;
  --black: #000000;
}
